/*primary styles*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  margin: 0px;
  padding: 0px;
}

.container{
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

/*nav styles*/
.nav-bar {
  background-color: #620593;
  display: flex;
  justify-content: space-between;
  padding: 38px;
  font-weight: 800;
  color: #c7c7c7;
}

@media screen and (max-width: 650px) {
  .left-side {
  margin-top: 10px;
  margin-bottom: 10px;
  }

}

@media screen and (min-width: 650px) {
  .left-side {
    display: flex;
  }
}

.nav-bar > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-bar-link {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-bar-link a {
  color: #c7c7c7;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-bar-link:hover {
  border-bottom: 1px solid black;
}

.nav-bar-link a:hover {
  color: black;
}

@media screen and (min-width: 650px) {
 .active-nav-link{
    border-bottom: 3px solid black;
  }
}

.active-nav-link a{
  color: black;
}

/*content styles*/
@media screen and (max-width: 1200px) {
  .projects{
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.project{
 position: relative;  
}

.project-image-background{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
}

.logo img{
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  font-weight: 600;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}

.img-darken{
  transition: 1s;
  filter: brightness(10%);
}

/* about page */
.two-column-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
}

.profile-pic-wrapper img{
  width: 100%;
}

/* resume */
.experience {
  background-color: #fff;
}

@media screen and (max-width: 540px) {
  
  .experience {
    padding: 10px;
  }
  
  .Skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .Skills-group{
    position: relative;
    font-weight: 500;
    font-size: 20px;
  }  
}

@media screen and (min-width: 540px) and (max-width: 800px) {
  
  .experience {
    padding: 10px;
  }
  .Skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }
  .Skills-group{
    position: relative;
    font-weight: 500;
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  
  .experience {
    padding: 20px;
  }
  
  .Skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }
  
  .Skills-group{
    position: relative;
    font-weight: 500;
    font-size: 20px;
  }
}

.Skills-group h3{
margin-top: 0px;
margin-bottom: 0px;
}
.education p{
  font-size: 18px;
}
.certifications p{
  font-size: 18px;
}

.job li{
  margin-left: 30px;
  font-size: 18px;
}

.job-title{
  display: flex;
}

.job-title h3{
  margin-right: 5px;
}

/* Mistakes */
.Mistakes {
  color: #c7c7c7;
  padding: 30px;
}

.Mistakes-title{
  text-align: center;
  margin-bottom: 100px;
}

.Mistakes-content-pic{
  height: 300px;
  width:  400px;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Mistake-wrapper{
  border-radius: 25px;
  border: 7px solid #620593;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.Mistake-content{
  display: flex;
}

.Mistake-Story{
  width: 100%;
  padding-left: 10px;
}



/* Blog */
.Blog {
  color: #c7c7c7;
  padding: 30px;
  font-weight: bold;
  text-align: center;
}